<section
  id='chat-page'
  data-chat-id='{{chatData.id}}'
  data-user-id='{{id}}'
  data-username='{{username}}'
  data-is-active='{{isActive}}'
>
  <section id='buddy-card' class='container text-center'>
    <section class='text-center'>
      <p>Currently Connected Buddy:
        {{#if isActive}}
          <span
            id='buddy'
            data-user-id='{{chatData.userId}}'
          >{{chatData.username}}</span>
        {{else}}
          <span id='buddy' data-user-id='null'>None</span>
        {{/if}}
      </p>
      <p>Studdy Buddy Subject:
        <span id='subject' data-subject='{{chatData.subject}}'>{{formatSubject
            chatData.subject
          }}</span>
      </p>
    </section>
  </section>

  <section class='container' id='chat-window'>
    <ul class='messages'></ul>
    <form>
      <input type='text' class='input' autocomplete='off' autofocus />
      <button>Send</button>
    </form>
  </section>
</section>

<script
  src='https://cdn.socket.io/4.5.4/socket.io.min.js'
  integrity='sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI'
  crossorigin='anonymous'
></script>
<script src='./js/chat.js'></script>