<article
  id='chat-page'
  data-chat-id='{{chatData.id}}'
  data-user-id='{{id}}'
  data-username='{{username}}'
  data-is-active='{{isActive}}'
  data-room-status='{{roomStatus}}'
>
  <!-- Searching for user Modal -->
  <article
    class='modal fade'
    id='no-user-modal'
    tabindex='-1'
    aria-labelledby='no-user-title'
    aria-hidden='true'
  >
    <section class='modal-dialog modal-dialog-centered'>
      <section class='modal-content'>
        <section class='modal-header'>
          <h2 class='modal-title fs-5' id='no-user-title'>No user found</h2>
        </section>
        <section class='modal-body'>
          There is currently no users to match you with. Page will automatically
          refresh if a user is found
        </section>
        <section class='modal-footer choices'>
          <a class='btn btn-secondary' href='/'>Go Home</a>
          <button class='btn btn-primary' type='button' disabled>
            <span
              class='spinner-border spinner-border-sm'
              role='status'
              aria-hidden='true'
            ></span>Searching...
          </button>
        </section>
      </section>
    </section>
  </article>
  {{! User found Modal }}
  <article
    class='modal fade'
    id='found-user-modal'
    tabindex='-1'
    aria-labelledby='found-user-title'
    aria-hidden='true'
  >
    <section class='modal-dialog modal-dialog-centered'>
      <section class='modal-content'>
        <section class='modal-header'>
          <h2 class='modal-title fs-5' id='found-user-title'>User found</h2>
        </section>
        <section class='modal-body'>
          A user was found. Click on "Connect" to to connect with them. Room may
          fill up before you connect.
        </section>
        <section class='modal-footer choices'>
          <a class='btn btn-secondary' href='/'>Go Home</a>
          <button class='btn btn-primary' type='button'>Connect</button>
        </section>
      </section>
    </section>
  </article>
  {{! second user information }}
  <section id='buddy-window' class='container text-center'>
    <section class='text-center'>
      <h2>Currently Connected Buddy:
        <a
          href='/user/{{chatData.username}}'
          id='buddy'
          data-user-id='{{chatData.userId}}'
          target="_blank"
        >{{chatData.username}}</a>
      </h2>
      <h2>Studdy Buddy Subject:
        <span id='subject' data-subject='{{chatData.subject}}'>{{formatSubject
            chatData.subject
          }}</span>
      </h2>
    </section>
  </section>
  {{! chat window }}
  <section class='container' id='chat-window'>
    <ul class='messages'></ul>
    <form>
      <input type='text' class='input' autocomplete='off' autofocus />
      <button>Send</button>
    </form>
  </section>
</article>

{{#section 'script'}}
  <script
    src='https://cdn.socket.io/4.5.4/socket.io.min.js'
    integrity='sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI'
    crossorigin='anonymous'
  ></script>
  <script src='./js/chat.js'></script>
{{/section}}