<section id='buddy-card' class='container text-center'>
  <section class='text-center'>
    <p>Currently Connected Buddy:
      {{#if foundBuddy}}
        <span id='buddy-name' data-buddy-id='{{buddyId}}'>{{buddyUsername}}</span>
      {{else}}
        <span id='buddy-name' data-buddy-id='null'>None</span>
      {{/if}}
    </p>
    <p>Studdy Buddy Subject:
      {{#if foundBuddy}}
        <span
          id='buddy-subject'
          data-buddy-subject='{{subject}}'
        >{{subject}}</span>
      {{else}}
        <span id='buddy-subject' data-buddy-subject='null'>None</span>
      {{/if}}
    </p>
  </section>
</section>

<section
  class='container'
  id='chat'
  data-user-id='{{id}}'
  data-username='{{username}}'
  data-is-active='{{isActive}}'
>
  <ul class='messages'></ul>
  <form>
    <input type='text' class='input' autocomplete='off' autofocus />
    <button>Send</button>
  </form>
</section>

<script
  src='https://cdn.socket.io/4.5.4/socket.io.min.js'
  integrity='sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI'
  crossorigin='anonymous'
></script>
<script src='./js/chat.js'></script>